* {
    padding: 0;
    margin: 0;
}

.nav_header {
    margin-bottom: 0px !important;
}

.navbar-brand {
    color: white !important;
}

.menu_sider {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.well {
    min-height: 850px !important;
}

.nav > li > span {
    font-size: 18px;
}

.p_tb {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.p_none {
    padding: 0px !important;
}

.panel-heading a {
    float: right;
}

.panel-heading a:hover {
    text-decoration: none;
    cursor: pointer;
}

.row + .row, .row-fluid + .row, .row + .row-fluid, .row-fluid + .row-fluid {
    margin-top: 10px;
}

.btn + .btn {
    margin-left: 10px !important;
}

.m {
    margin-bottom: 10px;
}

a + a {
    margin-right: 10px;
}

.hid {
    display: none !important;
}

.preview_pic, .preview_pic1{
    height: 240px;
    width: 320px;
    background-size: 100% 100%;
}

#showArea .row_delete {
    width: 50px;
    display: inline-block;
}

#showArea .row_delete:hover {
    cursor: pointer;
}

textarea{
    outline: none;
    resize: none;
    width: 100%;
    border: 0px;
}